body {
  font-family: Arial, sans-serif;
}

.tabs {
  overflow: hidden;
}

.tablink {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tablink:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 20px;
}

h3 {
  color: #333;
}

p {
  color: #555;
}
